body {
  font-family: Arial, sans-serif;
}

header,
footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

main {
  display: flex;
}

aside {
  width: 200px;
  background-color: #e9ecef;
  padding: 10px;
}

section {
  flex: 1;
  padding: 10px;
}

.parameter {
    margin-bottom: 10px;
}

.parameter label {
    display: block;
    margin-top: 5px;
}

.parameter input {
    width: 200px;
    margin-bottom: 5px;
}
